node_modules/
.next/
out/
build/
dist/
.env
.env.local
.env*.local
*.log
npm-debug.log*
.DS_Store
coverage/
.vscode/
uploads/
.playwright-otp.json
playwright-report/
test-results/
prisma/dev.db
next-env.d.ts
tsconfig.tsbuildinfo
